<h1>All Users</h1>

  <ul>
  <% @users.each do |u| %>
  <%= image_tag u.image %>
    <h3> <%= link_to "#{u.first_name.capitalize} #{u.last_name.capitalize}", u %></h3>
    <li>Email: <%= u.email %></li>
    <li>Image: <%= u.image %></li>
    <li>City: <%= u.city %></li>
    <li>Country: <%= u.country %></li>
    <li>About: <%= u.about %></li>

    <% if @current_user.following?(u) %>

       <%= form_for(@current_user.active_relationships.find_by(followed_id: u.id),
         html: { method: :delete }) do |f| %>
         <%= f.submit "Unfollow", class: "btn" %>
       <% end %>

    <% else %>

      <%= form_for(@current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, u.id %></div>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>

    <% end %>

  <% end %>
  </ul>

