 <%= image_tag @user.image %></li>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>City: <%= @user.city %></li>
  <li>Country: <%= @user.country %></li>
  <li>About: <%= @user.about %></li>

  <% if has_followers?(@user) %>
     <li><%= link_to("#{@user.followers.count} Followers", followers_user_path(@user) ) %>
   <% end %>

   <% if is_following?(@user) %>
     <li><%= link_to("#{@user.following.count} Following", following_user_path(@user) ) %>
   <% end %>
    <% if @user.photos.exists? %>
      <li> <%= link_to("All Photos", user_photos_path(@user) ) %></li>
    <% end %>
    <% if @user.galleries.exists? %>
      <li><%= link_to( "All Galleries", user_galleries_path(@user) ) %></li>
    <% end %>

   <% unless current_user?(@user) %>
      <% if @current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
   <% end %>
</ul>

  <% if current_user?(@user) %>
     <%= link_to "Edit User", edit_user_path(@user) %>
     <%= link_to "Delete User", @user, :method => :delete,
     :data => {confirm: "Are you sure?"} %>
  <% end %>

