
 <%= image_tag @user.image %></li>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>City: <%= @user.city %></li>
  <li>Country: <%= @user.country %></li>
  <li>About: <%= @user.about %></li>
  <li>Followers: <%= link_to("Followers", user_followers_path(@user) ) %>
  <li>Following: <%= link_to("Following", user_following_path(@user) ) %>
  <li>All Photos: <%= link_to( "All Photos", user_photos_path(@user) ) %>
  <li>Galleries: </li>
    <% @user.galleries.each do |g| %>
      <p><%= link_to( g.title, user_galleries_path(@user, g) ) %> </p>
   <% end %>
</ul>

<div class="controls">
  <% if @user == @current_user %>
     <%= link_to "Edit User", edit_user_path(@user) %>
     <%= link_to "Delete User", @user, :method => :delete,
     :data => {confirm: "Are you sure?"} %>
  <% end %>
</div>

