 <%= image_tag @user.image %></li>
<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>City: <%= @user.city %></li>
  <li>Country: <%= @user.country %></li>
  <li>About: <%= @user.about %></li>
  <li><%= link_to("#{@user.followers.count} Followers", followers_user_path(@user) ) %>
  <li><%= link_to("#{@user.following.count} Following", following_user_path(@user) ) %>
  <li><%= link_to("All Photos", user_photos_path(@user) ) %>
    <% if @user.galleries.exists? %>
  <li>Galleries: </li>
    <% @user.galleries.each do |g| %>
      <%= link_to( g.title, user_galleries_path(@user, g) ) %>
    <% end %>

    <% if @current_user.following?(@user) %>
       <%= form_for(@current_user.active_relationships.find_by(followed_id: @user.id),
         html: { method: :delete }) do |f| %>
         <%= f.submit "Unfollow", class: "btn" %>
       <% end %>
    <% else %>
      <%= form_for(@current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<div class="controls">
  <% if @user == @current_user %>
     <%= link_to "Edit User", edit_user_path(@user) %>
     <%= link_to "Delete User", @user, :method => :delete,
     :data => {confirm: "Are you sure?"} %>
  <% end %>
</div>

