<div class="container center">

 <% if @user.image %>
 <%= cl_image_tag @user.image, class:"circle full_profile" %></li>
<% else %>
 <%= cl_image_tag "https://www.fillmurray.com/200/200", class:"circle full_profile" %></li>
<% end %>
<h3><%= full_name(@user) %></h3>
<div class="divider"></div>
<ul>
  <% if has_followers?(@user) %>
    <li class="links"><%= link_to("#{@user.followers.count} Followers", followers_user_path(@user) ) %></li>
   <% end %>

   <% if is_following?(@user) %>
     <li class="links"><%= link_to("#{@user.following.count} Following", following_user_path(@user) ) %></li>
   <% end %>
    <% if @user.photos.exists? %>
      <li class="links"><%= link_to("#{@user.photos.count} Photos", user_photos_path(@user) ) %></li>
    <% end %>
    <% if @user.galleries.exists? %>
      <li class="links"><%= link_to("#{@user.galleries.count} Galleries", user_galleries_path(@user) ) %></li>
    <% end %>
    <div class="divider"></div>
</ul>
  <p><%= @user.about %></p>

<ul>
  <li class="links"><i class="material-icons">email</i>  <%= @user.email %></li>
  <li class="links"><i class="material-icons">location_on</i> <%= @user.city %>,  <%= @user.country %></li>
</ul>

   <% unless current_user?(@user) %>
      <% if @current_user.following?(@user) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
   <% end %>

  <% if current_user?(@user) %>
     <%= link_to "Edit User", edit_user_path, class:"waves-effect waves-light btn" %>
     <%= link_to "Delete User", @user, class:"waves-effect waves-light btn", :method => :delete,
     :data => {confirm: "Are you sure?"} %>
  <% end %>

</div>
