<div class="container">
<% unless @photo.errors.full_messages.empty? %>
   <ul>
    <% @photo.errors.full_messages.each do |e| %>
       <li><%= e %></li>
     <% end %>
   </ul>
 <% end %>

 <%= form_for([@current_user, @photo], :html => { :multipart => true }) do |f| %>
 <p>
  <%= f.label :image %>
  </p>
  <p>
  <%= f.cl_image_upload :image%>
 </p>
 <p>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true %>
 </p>
 <p>
  <%= f.label :category_id %>
  <%= f.collection_select( :category_id, Category.all, :id, :name) %>
 </p>
 <p>
  <%= f.label :description %>
  <%= f.text_field :description%>
 </p>
 <p>
  <%= f.label :location %>
  <%= f.text_field :location%>
 </p>
 <p>
 <%= f.label :tag_list, "Tags (seperated by commas)"%>
  <%= f.text_field :tag_list%>
 </p>
 <%= f.submit class: "waves-effect wave-light btn" %>
<% end %>
</div>
