<div class="container center">

<h3><%= @photo.title %></h3>

<%= cl_image_tag @photo.image %>
<p><strong>Photo Owner: </strong> <%= link_to @photo.user.first_name, user_path(@photo.user) %></p>
<% if tags?(@photo) %>
 <p><strong>Tags:</strong> <%= tags(@photo) %></p>
 <% end %>
 <%= link_to "Back to Gallery", "#", class:"waves-effect waves-light btn"  %>


<% if current_user?(@user) %>
  <%= link_to "Edit Photograph", edit_user_photo_path(@user, @photo), class:"waves-effect waves-light btn" %>
  <%= link_to "Delete Photograph", user_photo_path(@user, @photo), class:"waves-effect waves-light btn", :method => :delete,
   :data => {confirm: "Are you sure?"} %>
 <% end %>

</div>
