<!DOCTYPE html>
<html>
<head>
  <title>PhotoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <% if flash[:success] %>
      <h5><%= flash[:success] %></h5>
    <% end %>
    <% if flash[:error] %>
      <h5><%= flash[:error] %></h5>
    <% end %>

  <h1>Photo App</h1>

    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "All Users", users_path %> |
    <% unless @current_user.present? %>
      <%= link_to "Login", login_path %> |
      <%= link_to "Sign Up", new_user_path %>
    <% else %>
      <%= link_to "Edit Profile", edit_user_path(@current_user) %> |
      <%= link_to "Followers", user_followers_path(@current_user) %> |
      <%= link_to "Following", user_following_path(@current_user) %> |
      <%= link_to "Logout #{@current_user.email}" , login_path, :method => :delete %>
    <% end %>

    </nav>
    <% if @current_user.present? %>
      <span>You are logged in as <%= @current_user.email %></span>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

</body>
</html>
