<!DOCTYPE html>
<html>
<head>
  <title>Maximum Exposure</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <body>

   <%= render 'layouts/nav' %>
   <%= render 'layouts/flash' %>

   <% if @current_user.present? %>
      <span>You are logged in as <%= @current_user.email %></span>
    <% end %>

       <%= yield %>

     <%= render 'layouts/footer' %>
 </body>
</html>
